{% extends 'base.html.twig' %}

{% block title %}Hello GameListController!{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('beef') }}">Beefs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Games</li>
        </ol>
    </nav>
    <h1 class="text-primary">Games</h1>

    <table class="table text-info table-hover">
        <thead>
        <tr>
            <th scope="col">Game</th>
            <th scope="col">Type</th>
        </tr>
        </thead>
        <tbody>
        {% for game, type in gameList %}
            <tr>
                <td><a href="{{ path('game_plan', {'year': year, 'game': game|url_encode, 'type': type}) }}">{{ game }}</a></td>
                <td><a href="{{ path('game_plan', {'year': year, 'game': game|url_encode, 'type': type}) }}">{{ type }}</a></td>
            </tr>{% endfor %}
        </tbody>
    </table>

{{ include('score.html.twig') }}
{% endblock %}
